.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.navbar {
  width: 100%;
  height: 10%;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center
}

a {
  text-decoration: none;
  color: aliceblue;
}

.noissue {
  background-color: rgb(189, 197, 204);
  width: 90%;
  height: 65vh;
  margin: 5%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome {
  font-size: 3vw;
  font-weight: 500;
}

.desc {
  margin: 20px 10%;
}

.createbtn {
  background-color: aquamarine;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 2px 2px 2px red;
}

.createbtn:hover{
  box-shadow: 2px 2px 2px blue; 
}

.CreateIssue {
  background-color: rgb(130, 193, 244);
  width: 90%;
  height: 65vh;
  margin: 5%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.outform{
  width: 100%;
  height: 100%;
}

.title {
  width: 80%;
  height: 30px;
  border-radius: 8px;
  border: none;
  margin: 20px 10%;
  text-align: center;
  outline: none;
}

.description {
  width: 80%;
  height: 50%;
  border-radius: 8px;
  border: none;
  outline: none;
  text-align: center;
  padding-top: 10px;
}

.submitissue {
  margin: 10px 0px;
  background-color: aquamarine;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  box-shadow: 2px 2px 2px red;
}

.submitissue:hover{
  box-shadow: 2px 2px 2px blue;
}

.issuecard{
  height: 70px;
  width: 90%;
  border: 2px solid yellow;
  margin: 10px auto;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  align-items: center;
}

.cardtitle{
  font-size: 24px;
  font-weight: 500;
  padding-left: 10px;
}

.closeissue{
  width: 50%;
  height: 30px;
  background-color: aquamarine;
  border-radius: 8px;
  border: none;
  box-shadow: 2px 2px 2px red;
  cursor: pointer;
}
.closeissue:hover{
  box-shadow: 2px 2px 2px blue;
  cursor: pointer;
}

.IssueList{
  background-color: rgb(202, 199, 195);
  width: 100%;
  height: 1000px;
  margin-top: -10px;
  padding-top: 20px;
}

.newissuecreate{
  color: white;
 position: absolute;
 margin-top: 80px;
text-align: center;
margin-left: -100px;
padding: 5px 30px 5px 30px;
border-radius: 10px;
background-color:darkblue;
}

